div {
    width: 90%;
    border: 10px solid rgb(60, 6, 71);
    padding: 50px;
    margin: 20px;
    background-color: aliceblue;
    display: list-item;
}

h1 {
    color: darkmagenta;
}

p {
    color: blue;
    font-weight: 900;
    font-size: medium;
}
